.footer{
    margin-top: 60px;
    line-height: 14px;
}
.footer_contact_container{
    width: 100%;
    height: 142.8px;
    background: rgba(204,204,204,.15);
}
.footer_contact{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    padding : 50px 30px 50px 30px;
  
}
.footer_contact>a{
    padding : 10px 10px 9px 10px;
    height: 42px;
    text-align: center;
}
.footer_contact>a>i{
    font-size: 18px;
    line-height: 18px;
}
.footer_contact>a>span{
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 10px;
   letter-spacing: 2px;
   line-height: 10px;
   opacity: 0.8;
   margin:6px 10px;
}
.dribbble:hover{
    color: white;
    border-radius: 20px;
    background-color: #DF3E7B !important;
}
.pinterest:hover{
    color: white;
    border-radius: 20px;
    background-color: #CA222F !important;
}
.twitter:hover{
    color: white;
    border-radius: 20px;
    background-color: #00ABF0 !important;
}
.facebook:hover{
    color: white;
    border-radius: 20px;
    background-color: #47639E !important;
}
.footer_below_container{
    padding: 0 20px;
    text-align: center;
}
.footer_below{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin : 48px auto 35px auto !important;
    font-size: 13.68px;
    line-height: 23.256px;

}
.bullet:before {
    content: "/";
    margin: 0 15px 0 15px;
    opacity: 0.3;
    height: 14px;
    width: 8px;
  }
.footer_below>li{
    cursor: pointer;
}
.footer_below>li>a:hover{
    color:#f96939;
}
.footer_text{
    margin : 20px 0;
    font-size: 13px;
    opacity: 0.7;
    line-height: 22px;
    text-align: center;
}